{% extends 'base.html' %}
{% block title %}PhotoShare - Delete comment{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="card border-0 shadow-sm">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="p-5">
                            <div class="mb-4">
                                <h3 class="h4 font-weight-bold text-primary">Comment - delete</h3>
                            </div>
                            <div class="card-text">
                                Are you sure to delete comment?
                            </div>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Confirm">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}