{% extends 'base.html' %}
{% block title %}BankApp - Homepage{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div id="main-wrapper" class="container mt-5" xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-center">
        <div class="col-xl-9">
            <div class="card border-0 shadow-sm mb-5">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="p-5">
                            <div class="mb-4">
                                <h3 class="h4 font-weight-bold text-primary">Deposit</h3>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" class="btn btn-primary" value="Deposit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}