{% extends 'base.html' %}
{% block title %}BankApp - Homepage{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-12">
            <div class="card border-0 shadow-sm mb-5">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="p-5">
                            <div class="mb-4">
                                <h3 class="h4 font-weight-bold text-primary">Transactions</h3>
                            </div>
                            <table class="table table-striped table-sm align-middle">
                                <thead>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Account</th>
                                    <th>Amount</th>
                                    <th>Balance after</th>
                                    <th>More</th>
                                </thead>
                                <tbody class="table-group-divider">
                                {% for transaction in transactions %}
                                        <tr>
                                            <td>{{ transaction.date|date:"Y-m-d m:s" }}</td>
                                            <td>{{ transaction.transaction_type.name }}</td>
                                            <td>{{ transaction.bank_account.type.name }}</td>
                                            <td>{{ transaction.bank_account.type.currency }} {{ transaction.amount }}</td>
                                            <td>{{ transaction.bank_account.type.currency }} {{ transaction.balance_after }}</td>
                                            <td class="text-center"><a class="link-secondary" data-bs-toggle="collapse" href="#transaction{{transaction.id}}" aria-expanded="false" aria-controls="transaction"><i class="bi bi-three-dots"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td colspan="10">
                                                <div id="transaction{{transaction.id}}" class="accordion-collapse collapse">
                                                    <p><strong>Account number:</strong> {{ transaction.bank_account.account_number }}</p>
                                                    <p><strong>Recipient:</strong> {{ transaction.recipient }}</p>
                                                    {% if transaction.description %}
                                                        <p><strong>Description:</strong> {{ transaction.description }}</p>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}