{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div id="main-wrapper" class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-xl-7">
            <div class="card border-0 shadow">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="p-5 text-enter justify-content-center">
                            <div class="mb-4">
                                <h3 class="h4 font-weight-bold text-primary">{% trans 'Register new account' %}</h3>
                            </div>
                            <form id="signup_form" method="post" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                {{ form|crispy }}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button type="submit" class="btn btn-primary mt-1">{% trans 'Register' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}